<!DOCTYPE html>
<html lang="zxx">

<head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/geometry/convexhull/custom.css' | relative_url }}">

</head>


<body>
	{% include pre_loader.html %}

	<!-- End of nav bar 
		============================================= -->



	<!-- Start of header
		============================================= -->
	<header id="site-header" class="not-stuck">
		<div class="container">
			<div class="row">
				<div id="header-logo">
					<a href="#"><img src="{{ 'assets/img//logo/logo.png' | relative_url }}" alt="img"></a>
				</div>

				<div id="menu-burger" class="pull-right not-stuck">
					<div id="menu-bar">
						<span class="icon-bar top"></span>
						<span class="icon-bar middle"></span>
						<span class="icon-bar bottom"></span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End of header
		============================================= -->
	<section id="portfolio" class="portfolio-section">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Board</span>
						<input type="text" class="form-control" placeholder="Quantity of Algorithm"
							aria-describedby="basic-addon1" id="quantityOfAlgo">
					</div>
				</div>
				<div class="col-md-4" style="visibility:hidden;" id="visiblePoint">
					<div class="input-group mb-3">
						<span class="input-group-addon" id="basic-addon1">Points</span>
						<input type="text" class="form-control" placeholder="Number of points"
							aria-describedby="basic-addon1" id="numberOfPoint" aria-describedby="basic-addon2" >
							<span class="input-group-btn" style="background-color:#777777">
								<button id="randomPoint" class="btn btn-primary" type="button" style="border-color:#777777;background-color:#777777"><span aria-hidden="true" >
								</span> Random</button>
							</span>
					</div>
				</div>
				<div class="col-md-5" style="visibility:hidden;" id="runAlgorithm">
					<a class="btn btn-default outline" id="showtime" style="position: relative;">
						<div class="icon">
							<i class="ti-music material-icons"></i>
							<i class="ti-trash material-icons"></i>
						</div>
						<span class="text">
						Show time
					</span>
						<div class="icon">
							<i class="ti-music-alt material-icons"></i>
							<i class="ti-reload material-icons"></i>
						</div></i></a>
				</div>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Board Algorithm</h3>
					</div>
					<div id="grid" class="row">
						
					  </div>
					  
				</div>
			</div>
		</div>
	</section>
	<!-- Start of page head section
		============================================= -->


	<!-- End of page head section
		============================================= -->

	<!-- Start of footer section
		============================================= -->
	<footer>
		<div class="footer-area footer-2">
			<div class="container">
				<div class="row">
					<div class="copy-right-area text-center">
						<div class="page-head-social-item ul-li">
							<ul class="page-head-social-list">
								<li><a href="#"><span class="ti-facebook"></span></a></li>
								<li><a href="#"><span class="ti-twitter-alt"></span></a></li>
								<li><a href="#"><span class="ti-google"></span></a></li>
								<li><a href="#"><span class="ti-instagram"></span></a></li>
							</ul><!-- /.page-head-social-list -->
						</div>
						<span>© puppin 2018 - All Rights Reserved </span>
					</div>
					<!-- //copy-right-area -->
				</div><!--  /.container -->
			</div><!--  /.row-->
		</div><!--  /.footer-area -->
	</footer>
	<!-- End of footer section
		============================================= -->

	<!--  Js Library -->
	<script src="{{ 'assets/js/jquery-2.1.4.min.js' | relative_url }}"></script>
	<!-- Include  for bootstrap -->
	<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
	<!-- Include isotope Js -->
	<script src="{{ 'assets/js/jquery.isotope.min.js' | relative_url }}"></script>
	<!-- Include lightbox -->
	<script src="{{ 'assets/js/lightbox.js' | relative_url }}"></script>
	<!-- Include Video js -->
	<script src="{{ 'assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
	<!-- Include Owl-carousel -->
	<script src="{{ 'assets/js/owl.carousel.min.js' | relative_url }}"></script>
	<!-- Include Counter up -->
	<script src="{{ 'assets/js/jquery.counterup.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/waypoints.min.js' | relative_url }}"></script>


	<script type="text/javascript" src="{{ 'assets/js/p5.min.js' | relative_url}}"></script>

	<!-- Include script.js -->
	<script src="{{ 'assets/js/script.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/matter.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/custom.js' | relative_url }}"></script>

	<script src="{{ 'assets/js/convex_hull.js' | relative_url }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/Algorithm.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/GrahamScan.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/GiftWrapping.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/QuickHull.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/MonotoneChain.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/World.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/Board.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/BoardManager.js' | relative_url}}"></script>
	<script type="text/javascript" src="{{ 'assets/js/d3.v5.min.js' | relative_url }}"></script>

	<script type="text/javascript" src="{{ 'assets/js/ConvexHull/main_convexhull.js' | relative_url}}"></script>
	<script src="{{ 'assets/js/grahama-scan.js' | relative_url}}"></script>
	<script src="{{ 'assets/js/ConvexHull/script.js' | relative_url}}"></script>
	<!-- <script src="https://unpkg.com/isotope-layout@2/dist/isotope.pkgd.min.js"></script> -->

</body>

</html>