<div class="single-sidebar-widget">
  <!-- <div class="falling-leaves">
    </div> -->
    <h6 class="widget-title">me</h6>
    <div class="sidebar-content about-me">
      <div class="my-photo">
        <a href="#"><img class="img-circle" src="/assets/img/sidebar/alone.png" alt="My Image" /></a>
      </div>
      <p>Something or someone brought you here. Now It’s my turn to drive you wild.</p>
      
       <!-- <img src="https://farm1.staticflickr.com/219/516166050_648eb105d6.jpg"> -->
    </div><!-- /.sidebar-content -->
  
</div><!-- /.single-sidebar-widget -->