<div class="single-sidebar-widget">
    <h6 class="widget-title">follow me on</h6>
    <div class="sidebar-content">
      <div class="social-links-area">
        <div class="single-icon">
          <a href="https://www.facebook.com/vitrung97" target="_blank">
            <i class="fa fa-facebook"></i>
            <p>Facebook</p>
          </a>
        </div><!-- /.single-icon -->
        <div class="single-icon">
          <a href="https://www.linkedin.com/in/huatrung/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
            <p>Linkedin</p>
          </a>
        </div><!-- /.single-icon -->
        <div class="single-icon">
          <a href="{{site.paths.me | relative_url }}" target="_blank">
            <i class="fa fa-envelope-o"></i>
            <p>Email</p>
          </a>
        </div><!-- /.single-icon -->
      </div><!-- /.social-links-area -->
    </div><!-- /.sidebar-content -->
  </div><!-- /.single-sidebar-widget -->