

		<!--  Js Library -->
		<script src="{{ 'assets/js/jquery-2.1.4.min.js' | relative_url }}"></script>
		<!-- Include  for bootstrap -->
		<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
		<!-- Include isotope Js -->
		<script src="{{ 'assets/js/jquery.isotope.min.js' | relative_url }}"></script>
		<!-- Include lightbox -->
		<script src="{{ 'assets/js/lightbox.js' | relative_url }}"></script>
		<!-- Include circle-effect.js -->
		<script src="{{ 'assets/js/circle-effect.js' | relative_url }}"></script>
		<!-- Include Video js -->
		<script src="{{ 'assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
		<!-- Include Owl-carousel -->
		<script src="{{ 'assets/js/owl.carousel.min.js' | relative_url }}"></script>
		<!-- Include Counter up -->
		<script src="{{ 'assets/js/jquery.counterup.min.js' | relative_url }}"></script>
		<script src="{{ 'assets/js/waypoints.min.js' | relative_url }}"></script>



		<!-- Include script.js -->
		<script src="{{ 'assets/js/script.js' | relative_url }}"></script>
