<meta charset="utf-8">
	<title>Home 1</title>
	

	<meta name="description" content="----">

	<meta name="keywords" content="Premium HTML Template">

	<meta name="author" content="HTMLmate">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css-include -->

	<!-- boorstrap -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}">
	<!-- themify-icon.css -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/themify-icons.css' | relative_url }}">
	<!-- owl-carousel -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/owl.carousel.css' | relative_url }}">
	<!-- light-box -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/lightbox.css' | relative_url }}">
	<!-- video css -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/video.min.css' | relative_url }}">
	<!-- menu.css -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/menu.css' | relative_url }}">
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | relative_url }}">
	<!-- responsive.css -->
  <link rel="stylesheet" type="text/css" href="{{ 'assets/css/responsive.css' | relative_url }}">
  <!-- custom.css -->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/custom.css' | relative_url }}">