  <!-- header-area start -->
<header id="header" class="header-area">
    <div class="header-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo">
              <a href="/"><img src="{{ '/assets/img/logo/footer-logo.png'}}" alt="Logo" /></a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="main-menu">
              <nav>
                <ul class="main-nav navbar-right">
                  <li><a href="{{site.paths.home | relative_url }}">Home</a></li>
                  <li><a href="{{site.paths.work | relative_url }}">Work</a></li>
                  <li><a href="{{site.paths.life | relative_url }}">Life</a></li>
                  <li><a href="{{site.paths.fun | relative_url }}">FUN</a></li>
                  <li><a href="{{site.paths.me | relative_url }}">Me</a></li>
                </ul>
              </nav>
            </div><!-- /.main-menu -->
          </div>
        </div>
      </div>
      <!-- mobile-menu-area start -->
      <div class="mobile-menu-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <nav id="dropdown">
                <ul class="main-nav navbar-right">
                  <li><a href="{{site.paths.home | relative_url }}">Home</a></li>
                  <li><a href="{{site.paths.work | relative_url }}">Work</a></li>
                  <li><a href="{{site.paths.life | relative_url }}">Life</a></li>
                  <li><a href="{{site.paths.fun | relative_url }}">fun</a></li>
                  <li><a href="{{site.paths.me | relative_url }}">Me</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile-menu-area end -->
    </div><!-- /.header-bottom -->
  </header>
  <!-- header-area end -->