<div class="single-sidebar-widget">
    <h6 class="widget-title">mailchimp widget</h6>
    <div class="sidebar-content newsletter">
      <h6>newsletter</h6>
      <p>Lorem ipsum dolor sit amet, consecteturs adipisicing elit,
        sed do eiusmod tempor incididunt.</p>
      <div class="newsletter-form">
        <form action="#" method="post">
          <input type="text" placeholder="First name" />
          <input type="text" placeholder="Your email address" />
          <input type="submit" value="submit" />
        </form>
      </div>
    </div><!-- /.sidebar-content -->
  </div><!-- /.single-sidebar-widget -->