<!-- slider-area start -->
<div id="slider" class="slider-area">
  <div id="top-carousel" class="slider-wrap">
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/left.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">...</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/alone2.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center" style="left:60%">
        <h5><a href="#">Still, like air, I rise.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/enjoy.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">Long showers, loud music,<br> deep thoughts.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/enjoy2.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">When I smile,<br> the word smiles with me.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/funny.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">Happiness can exist only in<br> acceptance.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/haiz.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">Motivation is when your<br> dreams put on work clothes.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/rain.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">Into each life some rain<br> must fall.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/sad.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center" style="left:40%">
        <h5><a href="#">I’ve always loved the night, <br>when everyone else is asleep and<br> the world is all mine</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/sea.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">I want to be wild and free just <br>like the sea.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/storm.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">I'm a house of cards in your<br> hurricane.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/book.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">There is no friend as loyal <br>as a book.</a></h5>
      </div>
    </div><!-- /.single-slide -->
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/childhood.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center"
      >
        <h5><a href="#">We were just young, dumb<br> and broke.</a></h5>
      </div>
    </div><!-- /.single-slide -->
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/childhood2.png" alt="Slide Image"
            /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">Joy multiplies when it is<br> shared among friends.</a></h5>
      </div>
    </div><!-- /.single-slide -->
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/love.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">What’s essential is invisible <br>to the eyes.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/native.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">Every summer, like the roses,<br> childhood returns.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/sun.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">What sunshine is to flowers,<br> smiles are to humanity.</a></h5>
      </div>
    </div>
    <div class="single-slide">
      <a href="#"><img src="/assets/img/sidebar/right.png" alt="Slide Image"   /></a>
      <div class="slide-text-container text-center">
        <h5><a href="#">...</a></h5>
      </div>
    </div>
    <!-- /.single-slide -->
  </div><!-- /#top-carousel -->
</div>
<!-- slider-area end -->