* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #DDD;
  display: block;
  /* max-width: 1200px; */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 45%;
  background: #eceff1;
  border: 1px solid #ffffff;
  margin: 20px;
  height:350px
}

.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 160px; }

.grid-item--width3 { width: 240px; }
.grid-item--height3 { height: 240px; }

.number {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 16px 0;
  text-align: center;
  color: white;
}

button { font-size: 20px; }

.outline {
  background-color: transparent;
  color: inherit;
  transition: all .25s;
}

.btn-primary.outline {
  color: #428bca;
}

.btn-success.outline {
  color: #5cb85c;
}

.btn-info.outline {
  color: #5bc0de;
}

.btn-warning.outline {
  color: #f0ad4e;
}

.btn-danger.outline {
  color: #d9534f;
}

.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
  color: #fff;
}

.icon {
  margin: 10px;
  position: relative;
  display: inline-block;
}

.icon .material-icons {
  position: absolute;
  left: -6px;
}

.icon .material-icons:last-of-type {
  opacity: 0;
}
